<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateuser" method="put">
    {{!-- <label >Enter email you want to update data </label>
    <input type="text" name="email" > --}}
    <label>updated value of email</label>
    <input type="text" name="email" >
    <label>updated value of password</label>
     <input type="pass" name="password" >
    <label>updated value of firstname</label>
    <input type="text" name="firstname" >
    <label>updated value of lastname</label>
    <input type="text" name="lastname" >
    <input type="submit" value="submit" >
    </form>
</body>
</html>